.icon{
    width: 70%;
    margin-left: 15%;
}
.icon .fa{
   padding: 29px;
    border: 1px solid;
    background: red;

    border-radius: 47px;
    margin-left: 11px;
    margin-top: 21px;
    color: white;
}
.icon .fa:hover{
	background: blue;
	border: 1px solid blue;
	border-radius: 0px;

}